/* @charset "UTF-8"; */

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


.inlineTitle {
	display: inline;
}

.inlineTagReg, .inlineTagPos, .inlineTagDo {
    display: inline;
    text-align: center;
}

.filter
{
	display: inline-block;
	margin-left: 27.5%;
}

.searchTag
{	
	border: none;
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 10px;
	
	padding: 1px 3px 1px 6px;
	
	background-color: orange;
	color: white;
	
	font-size: 12pt;
	font-weight: bold;
}

.SearchDelBtn
{
	border: none;
	border-radius: 8px;
	
	padding-bottom: -3px;
	vertical-align: text-top;
	
	background-color: orange;
	color: white;
}

.SearchDelBtn:hover
{
	color: black;
	transition: 0.5s;
}

.search
{	
	text-align: center;
	margin-top: 6px;
	font-size: 13pt;
	font-weight: bold;
	
}

.search li
{
 	display: inline;
 	margin: 0px 10px;
	padding: 2px;
	list-style-type: none;
}

.select {
	width: 108px;
	height: 28px;
	border-radius: 5px;
	border: 2px solid orange;
	transition: 0.3s;
	font-family: 'SUITE-Regular';
}

.select option {
	background-color: #ffb324;
	color: white;
	font-family: 'SUITE-Regular';
}

.searchBtn {
	font-size: 14pt;
	font-family: 'SUITE-Regular';
	border-radius: 10px;
	margin-left: 20px;
	padding: 5px 15px;
	color: white;
	background-color: orange;
	border: none;
}

.searchBtn:hover {
	color: black;
	transition: 0.5s;
}

.recruitLists {
	width: 1150px;
	margin: auto;
	text-align: center;
	margin-top: 50px;
}

.recruitList {
	margin-top: 30px;
	border: solid 1px;
	border-radius: 12px;
	text-align: center;
	padding: 5px 5px 5px 5px;
}

.recruitList ul {
	text-align: left;
}

.recruitList li {
	list-style-type: none;
}

.recruitList li:first-child {
	font-weight: bold;
	font-size: 11pt;
	margin-bottom: 10px;
}

.recruitList li:nth-child(2) {
	font-size:14pt;
}

.recruitList li:nth-child(3) {
	font-size:11pt; 
	font-weight:bold;
}

.recruitTitle a {
	text-decoration: none;
	color: black;
	font-family: 'SUITE-Regular';
	font-size: 18pt;
}

.recruitStatus {
	background-color: #f58442;
	color: white;
	font-size: 9pt;
	border-radius: 8px;
	padding: 2px 6px 2px 6px;
	
	vertical-align: baseline;
}

.endStatus {
	background-color: gray;
	color: white;
	font-size: 9pt;
	border-radius: 8px;
	padding: 2px 6px 2px 6px;
	
	vertical-align: baseline;
}

.toolTag {
	background-color: #ffe8a2;
	font-size: 11pt;
	border-radius: 9px;
	
	margin: 2px 2px 2px 2px;
	padding: 3px 8px 3px 8px;
}

.doTypeTag {
	background-color: #d8d8d8;
	font-size: 11pt;
	border-radius: 9px;
	
	margin: 2px 2px 2px 2px;
	padding: 3px 8px 3px 8px;
}

.regionTag {
	background-color: #c7e6fe;
	font-size: 11pt;
	border-radius: 9px;
	
	margin: 2px 2px 2px 2px;
	padding: 3px 8px 3px 8px;
}

.writeBtnArea {
	display: flex;
}

.writeBtn {
	margin-left: 73%;
	
	font-family: 'SUITE-Regular';
	
	border: none;
	background-color: orange;
	color: white;
	font-size: 16pt;
	font-weight: 500;
	border-radius: 9px;
	
	padding: 5px 12px 5px 12px;
}